.logout {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

.logout:hover {
    opacity: 1
}


.add {
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

.add:hover {
    opacity: 1
}

.uploadBtn {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.deleteBtn {
    float: right;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.dsc {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 60%;
    max-width: 60%;
}

.checkAll {
    border-radius: 4px;
    border: 1px gray;
    background-color: darkslategrey;
    color: white;
}

.checkAll:hover {
    background-color: gray;
}

.pb-video-container {
    padding-top: 20px;
    background: #bdc3c7;
    font-family: Lato;
}

.pb-row {
    margin-bottom: 10px;
}

.tagLabel {
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    color: white;
    background-color: dodgerblue;
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid #01649e;
    display: inline-block;
}

.vjs-tech {
    object-fit: cover;
}
.title {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}